# Configuration file

fluids {
    S:fluid.acid.cardrank=
    S:fluid.acid.grammar=
    S:fluid.acid.instability.factor_accessibility=
    S:fluid.acid.instability.factor_flat=
    S:fluid.acid.seabanned=
    S:fluid.alchemical_redstone.cardrank=
    S:fluid.alchemical_redstone.grammar=
    S:fluid.alchemical_redstone.instability.factor_accessibility=
    S:fluid.alchemical_redstone.instability.factor_flat=
    S:fluid.alchemical_redstone.seabanned=
    S:fluid.alewort.cardrank=
    S:fluid.alewort.grammar=
    S:fluid.alewort.instability.factor_accessibility=
    S:fluid.alewort.instability.factor_flat=
    S:fluid.alewort.seabanned=
    S:fluid.aluminum.cardrank=
    S:fluid.aluminum.grammar=
    S:fluid.aluminum.instability.factor_accessibility=
    S:fluid.aluminum.instability.factor_flat=
    S:fluid.aluminum.seabanned=
    S:fluid.applejuice.cardrank=
    S:fluid.applejuice.grammar=
    S:fluid.applejuice.instability.factor_accessibility=
    S:fluid.applejuice.instability.factor_flat=
    S:fluid.applejuice.seabanned=
    S:fluid.arcanesludge.cardrank=
    S:fluid.arcanesludge.grammar=
    S:fluid.arcanesludge.instability.factor_accessibility=
    S:fluid.arcanesludge.instability.factor_flat=
    S:fluid.arcanesludge.seabanned=
    S:fluid.astralsorcery.liquidstarlight.cardrank=
    S:fluid.astralsorcery.liquidstarlight.grammar=
    S:fluid.astralsorcery.liquidstarlight.instability.factor_accessibility=
    S:fluid.astralsorcery.liquidstarlight.instability.factor_flat=
    S:fluid.astralsorcery.liquidstarlight.seabanned=
    S:fluid.bronze.cardrank=
    S:fluid.bronze.grammar=
    S:fluid.bronze.instability.factor_accessibility=
    S:fluid.bronze.instability.factor_flat=
    S:fluid.bronze.seabanned=
    S:fluid.cinderfire_wort.cardrank=
    S:fluid.cinderfire_wort.grammar=
    S:fluid.cinderfire_wort.instability.factor_accessibility=
    S:fluid.cinderfire_wort.instability.factor_flat=
    S:fluid.cinderfire_wort.seabanned=
    S:fluid.copper.cardrank=
    S:fluid.copper.grammar=
    S:fluid.copper.instability.factor_accessibility=
    S:fluid.copper.instability.factor_flat=
    S:fluid.copper.seabanned=
    S:fluid.dawnstone.cardrank=
    S:fluid.dawnstone.grammar=
    S:fluid.dawnstone.instability.factor_accessibility=
    S:fluid.dawnstone.instability.factor_flat=
    S:fluid.dawnstone.seabanned=
    S:fluid.electrum.cardrank=
    S:fluid.electrum.grammar=
    S:fluid.electrum.instability.factor_accessibility=
    S:fluid.electrum.instability.factor_flat=
    S:fluid.electrum.seabanned=
    S:fluid.ethanol.cardrank=
    S:fluid.ethanol.grammar=
    S:fluid.ethanol.instability.factor_accessibility=
    S:fluid.ethanol.instability.factor_flat=
    S:fluid.ethanol.seabanned=
    S:fluid.fluidedmana.cardrank=
    S:fluid.fluidedmana.grammar=
    S:fluid.fluidedmana.instability.factor_accessibility=
    S:fluid.fluidedmana.instability.factor_flat=
    S:fluid.fluidedmana.seabanned=
    S:fluid.fluids.evilcraft.evilcraftblood.cardrank=
    S:fluid.fluids.evilcraft.evilcraftblood.grammar=
    S:fluid.fluids.evilcraft.evilcraftblood.instability.factor_accessibility=
    S:fluid.fluids.evilcraft.evilcraftblood.instability.factor_flat=
    S:fluid.fluids.evilcraft.evilcraftblood.seabanned=
    S:fluid.fluids.evilcraft.evilcraftpoison.cardrank=
    S:fluid.fluids.evilcraft.evilcraftpoison.grammar=
    S:fluid.fluids.evilcraft.evilcraftpoison.instability.factor_accessibility=
    S:fluid.fluids.evilcraft.evilcraftpoison.instability.factor_flat=
    S:fluid.fluids.evilcraft.evilcraftpoison.seabanned=
    S:fluid.flux_goo.cardrank=
    S:fluid.flux_goo.grammar=
    S:fluid.flux_goo.instability.factor_accessibility=
    S:fluid.flux_goo.instability.factor_flat=
    S:fluid.flux_goo.seabanned=
    S:fluid.fuel.cardrank=
    S:fluid.fuel.grammar=
    S:fluid.fuel.instability.factor_accessibility=
    S:fluid.fuel.instability.factor_flat=
    S:fluid.fuel.seabanned=
    S:fluid.gold.cardrank=
    S:fluid.gold.grammar=
    S:fluid.gold.instability.factor_accessibility=
    S:fluid.gold.instability.factor_flat=
    S:fluid.gold.seabanned=
    S:fluid.grapejuice.cardrank=
    S:fluid.grapejuice.grammar=
    S:fluid.grapejuice.instability.factor_accessibility=
    S:fluid.grapejuice.instability.factor_flat=
    S:fluid.grapejuice.seabanned=
    S:fluid.honey.cardrank=
    S:fluid.honey.grammar=
    S:fluid.honey.instability.factor_accessibility=
    S:fluid.honey.instability.factor_flat=
    S:fluid.honey.seabanned=
    S:fluid.iron.cardrank=
    S:fluid.iron.grammar=
    S:fluid.iron.instability.factor_accessibility=
    S:fluid.iron.instability.factor_flat=
    S:fluid.iron.seabanned=
    S:fluid.ironberryjuice.cardrank=
    S:fluid.ironberryjuice.grammar=
    S:fluid.ironberryjuice.instability.factor_accessibility=
    S:fluid.ironberryjuice.instability.factor_flat=
    S:fluid.ironberryjuice.seabanned=
    S:fluid.lead.cardrank=
    S:fluid.lead.grammar=
    S:fluid.lead.instability.factor_accessibility=
    S:fluid.lead.instability.factor_flat=
    S:fluid.lead.seabanned=
    S:fluid.lifeessence.cardrank=
    S:fluid.lifeessence.grammar=
    S:fluid.lifeessence.instability.factor_accessibility=
    S:fluid.lifeessence.instability.factor_flat=
    S:fluid.lifeessence.seabanned=
    S:fluid.liquid_death.cardrank=
    S:fluid.liquid_death.grammar=
    S:fluid.liquid_death.instability.factor_accessibility=
    S:fluid.liquid_death.instability.factor_flat=
    S:fluid.liquid_death.seabanned=
    S:fluid.mana_fluid.cardrank=
    S:fluid.mana_fluid.grammar=
    S:fluid.mana_fluid.instability.factor_accessibility=
    S:fluid.mana_fluid.instability.factor_flat=
    S:fluid.mana_fluid.seabanned=
    S:fluid.mist_acid.cardrank=
    S:fluid.mist_acid.grammar=
    S:fluid.mist_acid.instability.factor_accessibility=
    S:fluid.mist_acid.instability.factor_flat=
    S:fluid.mist_acid.seabanned=
    S:fluid.myst.ink.black.cardrank=
    S:fluid.myst.ink.black.grammar=
    S:fluid.myst.ink.black.instability.factor_accessibility=
    S:fluid.myst.ink.black.instability.factor_flat=
    S:fluid.myst.ink.black.seabanned=
    S:fluid.nacre_fluid.cardrank=
    S:fluid.nacre_fluid.grammar=
    S:fluid.nacre_fluid.instability.factor_accessibility=
    S:fluid.nacre_fluid.instability.factor_flat=
    S:fluid.nacre_fluid.seabanned=
    S:fluid.nickel.cardrank=
    S:fluid.nickel.grammar=
    S:fluid.nickel.instability.factor_accessibility=
    S:fluid.nickel.instability.factor_flat=
    S:fluid.nickel.seabanned=
    S:fluid.oil.cardrank=
    S:fluid.oil.grammar=
    S:fluid.oil.instability.factor_accessibility=
    S:fluid.oil.instability.factor_flat=
    S:fluid.oil.seabanned=
    S:fluid.oliveoil.cardrank=
    S:fluid.oliveoil.grammar=
    S:fluid.oliveoil.instability.factor_accessibility=
    S:fluid.oliveoil.instability.factor_flat=
    S:fluid.oliveoil.seabanned=
    S:fluid.purifying_fluid.cardrank=
    S:fluid.purifying_fluid.grammar=
    S:fluid.purifying_fluid.instability.factor_accessibility=
    S:fluid.purifying_fluid.instability.factor_flat=
    S:fluid.purifying_fluid.seabanned=
    S:fluid.refined_life_essence.cardrank=
    S:fluid.refined_life_essence.grammar=
    S:fluid.refined_life_essence.instability.factor_accessibility=
    S:fluid.refined_life_essence.instability.factor_flat=
    S:fluid.refined_life_essence.seabanned=
    S:fluid.shimmerdew_wort.cardrank=
    S:fluid.shimmerdew_wort.grammar=
    S:fluid.shimmerdew_wort.instability.factor_accessibility=
    S:fluid.shimmerdew_wort.instability.factor_flat=
    S:fluid.shimmerdew_wort.seabanned=
    S:fluid.silver.cardrank=
    S:fluid.silver.grammar=
    S:fluid.silver.instability.factor_accessibility=
    S:fluid.silver.instability.factor_flat=
    S:fluid.silver.seabanned=
    S:fluid.tin.cardrank=
    S:fluid.tin.grammar=
    S:fluid.tin.instability.factor_accessibility=
    S:fluid.tin.instability.factor_flat=
    S:fluid.tin.seabanned=
    S:fluid.viscous_wort.cardrank=
    S:fluid.viscous_wort.grammar=
    S:fluid.viscous_wort.instability.factor_accessibility=
    S:fluid.viscous_wort.instability.factor_flat=
    S:fluid.viscous_wort.seabanned=
    S:fluid.void.cardrank=
    S:fluid.void.grammar=
    S:fluid.void.instability.factor_accessibility=
    S:fluid.void.instability.factor_flat=
    S:fluid.wildberryjuice.cardrank=
    S:fluid.wildberryjuice.grammar=
    S:fluid.wildberryjuice.instability.factor_accessibility=
    S:fluid.wildberryjuice.instability.factor_flat=
    S:fluid.wildberryjuice.seabanned=
    S:fluid.witchwater.cardrank=
    S:fluid.witchwater.grammar=
    S:fluid.witchwater.instability.factor_accessibility=
    S:fluid.witchwater.instability.factor_flat=
    S:fluid.witchwater.seabanned=
}


instability {
    S:global.difficulty=
    B:global.enabled=true
}


