~ Saved With Hammer Lib 2.0.4.7

+C:Base={
  # Enable this part of ExpandedEquivalence (Default: true)
  +B:Enabled=true

}


+C:EMC={
  # Base cost for Dragon Scale. Set to 0 to disable. (Default: 6144, Range: [0;2147483647])
  +I:DragonScale=6144

  # Base cost for Withering Soul. Set to 0 to disable. (Default: 2048, Range: [0;2147483647])
  +I:WitheringSoul=2048

}


