# Configuration file

general {

    ##########################################################################################################
    # modules
    #--------------------------------------------------------------------------------------------------------#
    # Mystical world content modules. These modules are applied before any other config options.
    ##########################################################################################################

    modules {
        # Enable Embers Content
        B:embersModuleEnabled=false

        # Enable Mystical World Content
        B:mysticalWorldModuleEnabled=true

        # Enable Roots Content
        B:rootsModuleEnabled=false

        # Enable Solar Content
        B:solarModuleEnabled=false
    }

    ##########################################################################################################
    # mobs
    #--------------------------------------------------------------------------------------------------------#
    # Controls the spawning of mobs in Mystical World and dependent mods.
    ##########################################################################################################

    mobs {
        # Enable the spawning of Beetle.
        B:spawnBeetle=true

        # Enable the spawning of Deer.
        B:spawnDeer=true

        # Enable the spawning of Fox.
        B:spawnFox=true

        # Enable the spawning of Frog.
        B:spawnFrog=true
    }

    ##########################################################################################################
    # metals
    #--------------------------------------------------------------------------------------------------------#
    # Mystical world metals and their components.
    ##########################################################################################################

    metals {
        # Enable Aluminum
        B:enableAluminum=false

        # Enable Blocks for Metals
        B:enableBlocks=false

        # Enable Brass
        B:enableBrass=false

        # Enable Bronze
        B:enableBronze=false

        # Enable Copper
        B:enableCopper=false

        # Enable Dawnstone
        B:enableDawnstone=false

        # Enable Dusts for Metals
        B:enableDusts=false

        # Enable Electrum
        B:enableElectrum=false

        # Enable Ingots for Metals
        B:enableIngots=false

        # Enable Invar
        B:enableInvar=false

        # Enable Lead
        B:enableLead=false

        # Enable Nickel
        B:enableNickel=false

        # Enable Nuggets for Metals
        B:enableNuggets=false

        # Enable Ores for Metals
        B:enableOres=false

        # Enable Silver
        B:enableSilver=false

        # Enable Sooty Iron
        B:enableSootyIron=false

        # Enable Tin
        B:enableTin=false

        # Enable Tiny Dusts for Metals
        B:enableTinyDusts=false

        # Enable Zinc
        B:enableZinc=false
    }

    ##########################################################################################################
    # oregen
    #--------------------------------------------------------------------------------------------------------#
    # Controls ore generation for Mystical World Ores.
    ##########################################################################################################

    oregen {
        # The highest a aluminum ore vein can generate.
        # Min: 0
        # Max: 255
        I:aluminumMaxY=58

        # The lowest a aluminum of vein can generate.
        # Min: 0
        # Max: 255
        I:aluminumMinY=0

        # The amount of aluminum veins to generate per chunk. Set to 0 to disable.
        I:aluminumPerChunk=4

        # The maximum size of a aluminum ore vein.
        I:aluminumVeinSize=0

        # The highest a copper ore vein can generate.
        # Min: 0
        # Max: 255
        I:copperMaxY=64

        # The lowest a copper of vein can generate.
        # Min: 0
        # Max: 255
        I:copperMinY=0

        # The amount of copper veins to generate per chunk. Set to 0 to disable.
        I:copperPerChunk=0

        # The maximum size of a copper ore vein.
        I:copperVeinSize=0

        # The highest a lead ore vein can generate.
        # Min: 0
        # Max: 255
        I:leadMaxY=28

        # The lowest a lead of vein can generate.
        # Min: 0
        # Max: 255
        I:leadMinY=0

        # The amount of lead veins to generate per chunk. Set to 0 to disable.
        I:leadPerChunk=0

        # The maximum size of a lead ore vein.
        I:leadVeinSize=0

        # The highest a nickel ore vein can generate.
        # Min: 0
        # Max: 255
        I:nickelMaxY=24

        # The lowest a nickel of vein can generate.
        # Min: 0
        # Max: 255
        I:nickelMinY=0

        # The amount of nickel veins to generate per chunk. Set to 0 to disable.
        I:nickelPerChunk=0

        # The maximum size of a nickel ore vein.
        I:nickelVeinSize=0

        # The highest a silver ore vein can generate.
        # Min: 0
        # Max: 255
        I:silverMaxY=28

        # The lowest a silver of vein can generate.
        # Min: 0
        # Max: 255
        I:silverMinY=0

        # The amount of silver veins to generate per chunk. Set to 0 to disable.
        I:silverPerChunk=0

        # The maximum size of a silver ore vein.
        I:silverVeinSize=0

        # The highest a tin ore vein can generate.
        # Min: 0
        # Max: 255
        I:tinMaxY=48

        # The lowest a tin of vein can generate.
        # Min: 0
        # Max: 255
        I:tinMinY=0

        # The amount of tin veins to generate per chunk. Set to 0 to disable.
        I:tinPerChunk=0

        # The maximum size of a tin ore vein.
        I:tinVeinSize=0

        # The highest a zinc ore vein can generate.
        # Min: 0
        # Max: 255
        I:zincMaxY=32

        # The lowest a zinc of vein can generate.
        # Min: 0
        # Max: 255
        I:zincMinY=0

        # The amount of zinc veins to generate per chunk. Set to 0 to disable.
        I:zincPerChunk=0

        # The maximum size of a zinc ore vein.
        I:zincVeinSize=0
    }

}


